<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>PROJECTS!</title>
        <!-- // In this context '~' refers to the wwwroot folder -->
        <link rel="stylesheet" href="~/css/style.css"/>
        <link rel="stylesheet" href="base/css/bootstrap_spacelab.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- <div class="navbar-header"> -->
            <!-- <a class="navbar-brand" href="index">WebSiteName</a> -->
            <!-- </div> -->
            <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="projects">Project</a></li>
            <li><a href="contact">Contact</a></li>
            </ul>
        </div>
        </nav>
        <div class="col-lg-4">
            <h1>Jihun's Project</h1>

            <img src="images/ash.png" alt="Sample Photo" />
            
            <div class="col-lg-5">
            <p>
               The Pokédex section has a wealth of information on all the Pokémon creatures from the entire game series. On the main list pages you can see the various stats of each Pokémon. Click a Pokémon's name to see a detailed page with Pokédex data, descriptions from previous games, sprites, evolutions, moves and more!
            </p>
                

            </div>
        </div>
    </body>


</html>